{% extends 'base.html.twig' %}

{% block main_content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, {{ user.getDisplayName() }}!</h1>
            <p>This is your profile page. You will find all the data collected by this demo.<br>
                You can also list, add or remove security devices.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Profile details</h2>
                <ul>
                    <li>Username: <strong>{{ user.getUsername() }}</strong></li>
                    <li>Creation date: <strong>{{ user.getCreatedAt()|localizeddate('long', 'long') }}</strong></li>
                    <li>Last login at: <strong>{{ user.getLastLoginAt()|localizeddate('long', 'long') }}</strong></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Session details</h2>
                {% if not token is isWebauthnToken %}
                    You have not been authenticated using a security device.
                    {% if token is isRememberMeToken %}
                        The current session has been created via the "remember me" functionality.
                    {% endif %}
                {% else %}
                <ul>
                    <li>Security device used for authentication: <strong>{{ token.credentials.getId()|base64_encode }}</strong></li>
                    <li>User was present: <strong>{% if token.isUserPresent() == 1 %}Yes{% else %}No{% endif %}</strong></li>
                    <li>User was verified: <strong>{% if token.isUserVerified() == 1 %}Yes{% else %}No{% endif %}</strong></li>
                </ul>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>Registered credentials - <a href="{{ path('app_device_registration') }}" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i>&nbsp;Add a new device</a></h2>
                <dd>
                    {% for credential in credentials %}
                        <dt>
                            {% if credential.getName() != ""  %}
                                {{ credential.getName() }}&nbsp;<small>(ID: {{ credential.getAttestedCredentialData().credentialId|base64_encode }})    </small>
                            {% else %}
                                ID: {{ credential.getAttestedCredentialData().credentialId|base64_encode }}
                            {% endif %}
                        </dt>
                        <dd>
                            <ul>
                                <li>Added at: {{ credential.getCreatedAt()|localizeddate('long', 'long') }}</li>
                                <li>AAGUID: {{ credential.getAttestedCredentialData().aaguid|base64_encode }}</li>
                                <li>Public Key: {{ credential.getAttestedCredentialData().credentialPublicKey|base64_encode }}</li>
                                <li>Counter: {{ credential.getCounter() }}</li>
                                <li>Attestation type: {{ credential.getAttestationType() }}</li>
                            </ul>
                        </dd>
                    {% endfor %}
                </dd>
            </div>
        </div>

    </div>

{% endblock %}
