{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('signin') }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row py-5">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Registration form</h2>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="info info-horizontal">
                                    <p class="lead">Want to see how Webauthn will make you a better life? Just create an account by filling the form below.</p>
                                    <p class="text-muted">This is just a demo application, we don’t analyze or sell the information you will provide. Everything is deleted each month.</p>
                                </div>
                            </div>
                            <div class="col-md-5 mr-auto">
                                {{ form_start(form, {attr: {class: 'form'}}) }}
                                {{ form_widget(form) }}
                                <div class="form-group">
                                    <a href="{{ path('app_home') }}" class="btn btn-default">Cancel</a>
                                    <button class="btn btn-primary btn-raised" type="submit">Register now!</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
