{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('signin') }}
{% endblock %}

{% block main_content %}
    <div id="public-key-credential-creation-options" data-public-key-credential-creation-options="{{ publicKeyCredentialCreationOptions|json_encode(constant('JSON_UNESCAPED_SLASHES'))|e('html_attr') }}">
    </div>



    <div class="container">
        <div class="row py-5">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Registration form</h2>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="info info-horizontal">
                                    <p>
                                        You should now be notified to tap your security device.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5 mr-auto">
                                <img src="{{ asset('build/images/securitykey.min.svg') }}" alt="" class="img-fluid">
                                {{ form_start(form, {'attr': {'id': 'attestation_form'}}) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        "use strict";

        function arrayToBase64String(a) {
            return btoa(String.fromCharCode(...a));
        }

        document.addEventListener('DOMContentLoaded', function() {
            var data = document.querySelector('#public-key-credential-creation-options');
            var publicKey = JSON.parse(data.dataset.publicKeyCredentialCreationOptions);
            //publicKey.challenge = Uint8Array.from(window.atob(publicKey.challenge), function(c){return c.charCodeAt(0);});

            publicKey.challenge = Uint8Array.from(window.atob(publicKey.challenge), function(c){return c.charCodeAt(0);});
            publicKey.user.id = Uint8Array.from(window.atob(publicKey.user.id), function(c){return c.charCodeAt(0);});

            if (publicKey.excludeCredentials !== undefined) {
                publicKey.excludeCredentials = publicKey.excludeCredentials.map(function(data) {
                    return {
                        'type': data.type,
                        'id': Uint8Array.from(atob(data.id), function(c){return c.charCodeAt(0);})
                    };
                });
            }

            navigator.credentials.create({publicKey})
                .then(function (data) {
                    var publicKeyCredential = {
                        id: data.id,
                        type: data.type,
                        rawId: arrayToBase64String(new Uint8Array(data.rawId)),
                        response: {
                            clientDataJSON: arrayToBase64String(new Uint8Array(data.response.clientDataJSON)),
                            attestationObject: arrayToBase64String(new Uint8Array(data.response.attestationObject))
                        }
                    };

                    var attestation = document.getElementById("register_public_key_attestation");
                    attestation.value = JSON.stringify(publicKeyCredential);
                    document.getElementById("attestation_form").submit();
                }, function (error) {
                });
        });
    </script>
{% endblock %}
