<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">Webauthn Demo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>&nbsp;{{ app.user.getDisplayname() }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_profile') }}"><i class="fas fa-cog"></i>&nbsp;Settings</a>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('app_home', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;Sign out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register_user') }}"><i class="fas fa-user-plus"></i>&nbsp;Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
